force-app/main/default/flows/Create_Campaign_Member_Statuses_for_Zoom_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Assign Variables to create Attended as Campaign Member Status</description>
        <name>Assign_Attended_Variables</name>
        <label>Assign Attended Variables</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Attended.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attended.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attended.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusestoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Attended</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Cancelled_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign triggering Campaign</description>
        <name>Assign_Campaign</name>
        <label>Assign Campaign</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Campaign.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Attended_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Variables to create Cancelled Campaign Member Status</description>
        <name>Assign_Cancelled_Variables</name>
        <label>Assign Cancelled Variables</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Cancelled.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelled.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cancelled.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusestoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cancelled</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Not_Attended_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Variables to create Not Attended Campaign Member Status</description>
        <name>Assign_Not_Attended_Variables</name>
        <label>Assign Not Attended Variables</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>NotAttended.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotAttended.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Attended</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotAttended.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusestoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NotAttended</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Not_Sent_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Variables to create &quot;Not Sent&quot; as a Campaign Member Status and make Default Status</description>
        <name>Assign_Not_Sent_Variables</name>
        <label>Assign Not Sent Variables</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NotSent.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotSent.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotSent.HasResponded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NotSent.IsDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberStatusestoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NotSent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign_Member_Statuses</targetReference>
        </connector>
    </assignments>
    <description>When a Campaign is created for a Zoom Event, create the required Campaign Member Statuses for the package to run successfully</description>
    <environments>Default</environments>
    <interviewLabel>Create Campaign Member Statuses for Zoom Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Campaign Member Statuses for Zoom Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member_Statuses</name>
        <label>Create Campaign Member Statuses</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Delete_Responded_Campaign_Member_Status</targetReference>
        </connector>
        <inputReference>CampaignMemberStatusestoCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Responded_Campaign_Member_Status</name>
        <label>Delete Responded Campaign Member Status</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordUpdates>
        <description>Tick Zoom Status Assigned</description>
        <name>Update_Campaign</name>
        <label>Update Campaign</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Zoom_Status_Assigned__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Attended</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>Campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CampaignMemberStatusestoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>Cancelled</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>NotAttended</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>NotSent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
